{% extends "base.html" %}
{% block content %}
    <main>
    <!--crumbs-->
    <div id="crumbs">
    <a href="/welcome">home/</a>
    <a href="/teams">teams/</a>
    <p>{{teamDetails.name}}</p>
    </div>
        <h1>Team Details</h1>
        <article>
            <h2>{{ teamDetails.name }}</h2>
            <p>rank: {{ teamDetails.rank }}</p>
            <a href="{{ url_for('teamDivision', division = teamDetails.division) }}">{{ teamDetails.division }}</a>
            <a href="{{ url_for('teamPlayers', team=teamDetails.name) }}">players</a>
        </article>
    </main>
{% endblock %}